{
  "openapi": "3.0.1",
  "info": {
    "title": "ANVISA Consultas Externas API",
    "description": "Consultas públicas da ANVISA (UDI de dispositivos médicos, nomes técnicos, fila de análise, listas e assuntos de peticionamento). Esta descrição foi corrigida por overlay a partir do comportamento observado: veja `x-anvisa-client-requirements`.",
    "contact": {
      "name": "Contato",
      "email": "arquitetura@anvisa.gov.br"
    },
    "version": "2026-09-06"
  },
  "servers": [
    {
      "url": "https://api-gateway.prd.apps.anvisa.gov.br/consultas-externas-api",
      "description": "Public API Gateway URL"
    }
  ],
  "security": [
    {
      "Keycloak": [
        "*"
      ]
    }
  ],
  "tags": [
    {
      "name": "Consulta Fila",
      "description": "Operações relacionadas à fila de análise para Consultas Externas API e Portal de APIs"
    },
    {
      "name": "Consulta Assuntos",
      "description": "Operações relacionadas a consulta de Assuntos para Consultas Externas API e Portal de APIs"
    },
    {
      "name": "Consulta Lista",
      "description": "Operações relacionadas à lista de análise para Consultas Externas API e Portal de APIs"
    },
    {
      "name": "Consulta Nomes Técnicos de Produtos para Saúde",
      "description": "Nomes Técnicos de Produtos para Saúde para Consultas Externas API e Portal de APIs"
    },
    {
      "name": "Consulta UDI",
      "description": "Operações relacionadas a UDI para Consultas Externas API e Portal de APIs"
    }
  ],
  "paths": {
    "/api/v1/udi": {
      "post": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna UDI paginados",
        "description": "Paginated UDI search. At least one `filter` key is required; an empty filter fails with HTTP 500 and `mensagem: mensagens.MSG-062`. Verified live: `nomeComercial` (substring), `udiDi` (exact), `cnpjDetentora`, `codigoGmdn`, `nuRegistro`; the other keys come from the published example and are untested. The filter check runs before the page check: `page: 0` with an empty filter still yields MSG-062, not the page-index error.",
        "operationId": "paginar",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Filtro completo de UDI": {
                  "description": "Filtro completo de UDI",
                  "value": {
                    "page": 1,
                    "filter": {
                      "categoriaDispositivo": "EQUIPAMENTO",
                      "cnpjDetentora": "11195731000156",
                      "codigoGmdn": "30259",
                      "incorpora": "S",
                      "nomeComercial": "cateter",
                      "nuRegistro": "80290080001",
                      "razaoSocialFabLegal": "as",
                      "tipoCadastro": "RECONDICIONADO",
                      "udiDi": "a",
                      "usoLeigo": "S",
                      "versaoModelo": "a"
                    },
                    "size": 10
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageUdiDTO"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        },
        "x-required-filters": {
          "anyOf": [
            "nomeComercial",
            "udiDi",
            "cnpjDetentora",
            "codigoGmdn",
            "nuRegistro",
            "razaoSocialFabLegal",
            "categoriaDispositivo",
            "tipoCadastro",
            "versaoModelo",
            "usoLeigo",
            "incorpora"
          ],
          "verified": [
            "nomeComercial",
            "udiDi",
            "cnpjDetentora",
            "codigoGmdn",
            "nuRegistro"
          ]
        }
      }
    },
    "/api/v1/udi/termoGmdn": {
      "post": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna Termo Gmdn paginados",
        "description": "Paginated GMDN term search; names and definitions are in Portuguese. Works with an empty `filter`. Verified live: `conteudo` (text); `codigo` from ANVISA's example is untested.",
        "operationId": "paginarTermoGmdn",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Filtro completo de UDI": {
                  "description": "Filtro completo de UDI",
                  "value": {
                    "count": "10",
                    "page": "1",
                    "filter": {
                      "codigo": "1",
                      "conteudo": "dispositivo"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageTermoGMDNDTO"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        },
        "x-required-filters": {
          "anyOf": []
        },
        "x-verified-filters": [
          "conteudo"
        ]
      }
    },
    "/api/v1/nomeTecnico": {
      "post": {
        "tags": [
          "Consulta Nomes Técnicos de Produtos para Saúde"
        ],
        "summary": "Lista Nomes Técnicos de Produtos para Saúde",
        "description": "Paginated technical names of health products (2,678 rows on 2026-09-06). Works with an empty `filter`. Verified live: `nomeTecnico` (substring) and `categoriaProduto` (id from GET /nomeTecnico/categorias); `codigo` from ANVISA's example is untested.",
        "operationId": "listar",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Empresas Internacionais": {
                  "description": "Empresas Internacionais",
                  "value": {
                    "size": 10,
                    "page": "1",
                    "filter": {
                      "categoriaProduto": "8",
                      "codigo": "2501230",
                      "nomeTecnico": "Compressas"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageNomeTecnicoDTO"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        },
        "x-required-filters": {
          "anyOf": []
        },
        "x-verified-filters": [
          "nomeTecnico",
          "categoriaProduto"
        ]
      }
    },
    "/api/v1/nomeTecnico/download": {
      "post": {
        "tags": [
          "Consulta Nomes Técnicos de Produtos para Saúde"
        ],
        "summary": "Faz download do relatório de dossiê",
        "description": "Recebe JSON com column, count, order, page e filtros em filter[...] e gera um arquivo XLS para download.",
        "operationId": "download",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder para exportação",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Exportação de dossiê": {
                  "description": "Exportação de dossiê",
                  "value": {
                    "size": 10,
                    "page": "1",
                    "filter": {
                      "categoriaProduto": "8",
                      "codigo": "2501230",
                      "nomeTecnico": "Compressas"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/lista/downloadlista": {
      "post": {
        "tags": [
          "Consulta Lista"
        ],
        "summary": "Faz download do relatório de lista",
        "description": "Recebe os filtros da consulta e gera um arquivo XLSX com o relatório de lista.",
        "operationId": "downloadLista",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder para exportação de lista",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Download relatório lista": {
                  "description": "Download relatório lista",
                  "value": {
                    "count": 10,
                    "page": "1",
                    "order": "ASC",
                    "filter": {
                      "subfila": "123"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/lista/consulta": {
      "post": {
        "tags": [
          "Consulta Lista"
        ],
        "summary": "Retorna a Lista calculada",
        "description": "Returns the whole calculated list for one sublista (555 rows for sublista 2141 on 2026-09-06). The required filter key is `subfila`, not `sublista`: an integer id from GET /api/v1/lista/{codigoGrupo}/sublista, otherwise HTTP 500 \"Filtro 'subfila' não informado.\". `page` and `size` are ignored.",
        "operationId": "findCalculada",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Consulta de fila calculada": {
                  "description": "Consulta de fila calculada",
                  "value": {
                    "count": 10,
                    "page": 1,
                    "order": "ASC",
                    "filter": {
                      "subfila": 2141
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FilaCalculadaDTO"
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        },
        "x-required-filters": {
          "allOf": [
            "subfila"
          ]
        },
        "x-paginated": false
      }
    },
    "/api/v1/fila/downloadfila": {
      "post": {
        "tags": [
          "Consulta Fila"
        ],
        "summary": "Faz download do relatório de fila",
        "description": "Recebe os filtros da consulta e gera um arquivo XLSX com o relatório de fila.",
        "operationId": "downloadFila",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder para exportação de fila",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Download relatório fila": {
                  "description": "Download relatório fila",
                  "value": {
                    "size": 10,
                    "page": "1",
                    "order": "ASC",
                    "filter": {
                      "subfila": "123"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/fila/consulta": {
      "post": {
        "tags": [
          "Consulta Fila"
        ],
        "summary": "Retorna a fila calculada",
        "description": "Returns the whole calculated queue for one subqueue. `filter.subfila` (integer id from GET /api/v1/fila/{codigoGrupo}/subfila) is required, otherwise HTTP 500 \"Filtro 'subfila' não informado.\". `page` and `size` are ignored.",
        "operationId": "findCalculada_1",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Consulta de fila calculada": {
                  "description": "Consulta de fila calculada",
                  "value": {
                    "size": 10,
                    "page": 1,
                    "order": "ASC",
                    "filter": {
                      "subfila": 167
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FilaCalculadaDTO"
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        },
        "x-required-filters": {
          "allOf": [
            "subfila"
          ]
        },
        "x-paginated": false,
        "x-observed-sizes": "Whole queues observed on 2026-09-06: subfila 167 → 40 rows, subfila 161 → 35 rows, subfila 1742 → 71 rows; the sibling /lista/consulta returned 555 rows through the same DTO. No size cap."
      }
    },
    "/api/v1/assunto/download": {
      "post": {
        "tags": [
          "Consulta Assuntos"
        ],
        "summary": "Faz download do relatório de assunto",
        "description": "Recebe JSON com column, count, order, page e filtros em filter[...] e gera um arquivo XLS para download.",
        "operationId": "download_1",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder para exportação",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Exportação de Assunto": {
                  "description": "Exportação de Assunto",
                  "value": {
                    "order": "ASC",
                    "filter": {
                      "codigosAssunto": "108",
                      "servicos": "10038",
                      "sistemas": "COSMETICOS",
                      "tiposProduto": "6",
                      "tiposSolicitacao": "S"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/assunto/downloadAssuntoFormulario": {
      "post": {
        "tags": [
          "Consulta Assuntos"
        ],
        "summary": "Faz download do formulário de assunto",
        "description": "Recebe JSON codigo do formulário e gera um arquivo XLS para download.",
        "operationId": "downloadAssuntoFormulario",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder para exportação",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Exportação do formulário de Assunto": {
                  "description": "Exportação do formulário de Assunto",
                  "value": {
                    "codigosAssunto": "108"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/assunto/": {
      "post": {
        "tags": [
          "Consulta Assuntos"
        ],
        "summary": "Retorna assuntos paginados",
        "description": "Not usable as observed on 2026-09-06: a JSON `PaginationBuilder` body is answered with HTTP 500 'Cannot invoke PaginationBuilder.getColumn() because \"filtro\" is null', and the path without the trailing slash is a 404. Use GET /api/v1/assunto/assuntos and filter client-side.",
        "operationId": "findAssunto",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Assuntos": {
                  "description": "Assuntos",
                  "value": {
                    "count": "10",
                    "page": "1",
                    "column": "idAssunto",
                    "order": "ASC",
                    "filter": {
                      "codigosAssunto": "108",
                      "servicos": "10038",
                      "sistemas": "COSMETICOS",
                      "tiposProduto": "6",
                      "tiposSolicitacao": "S"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageConsultaAssunto"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        },
        "x-observed-status": "broken"
      }
    },
    "/api/v1/udi/{id}": {
      "get": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna o UDI detalhado",
        "description": "Retorna o UDI detalhado de acordo com o ID informado.",
        "operationId": "find",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DetalheDispositivoDTO"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/udi/{id}/download": {
      "get": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna o arquivo do detalhe do UDI",
        "description": "Retorna arquivo do Detalhe do UDI por ID.",
        "operationId": "download_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/udi/{idDispositivo}/{idHistorico}": {
      "get": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna o Historico do UDI",
        "description": "One device as recorded in one snapshot. Answers an empty-bodied 404 when the device is not part of that snapshot (observed for device 377 in snapshot 171).",
        "operationId": "findHistorico",
        "parameters": [
          {
            "name": "idDispositivo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "idHistorico",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DetalheDispositivoDTO"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/udi/{idDispositivo}/{idHistorico}/download": {
      "get": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna o arquivo do detalhamento por id do dispositivo e id histórico do UDI",
        "description": "Retorna arquivo do Historico do UDI por ID.",
        "operationId": "downloadHistorico",
        "parameters": [
          {
            "name": "idDispositivo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "idHistorico",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/udi/termoGmdn/{codigo}": {
      "get": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna o termo Gmdn do UDI",
        "description": "Retorna o termo Gmdn do UDI por codigo.",
        "operationId": "paginarTermoGmdn_1",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TermoGMDNDTO"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/udi/historico": {
      "get": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna o Historico do UDI",
        "description": "The daily UDI snapshots (`tipoHistorico` DIARIO, newest first) with `totalRegistros` per snapshot; 171 entries on 2026-09-06. Dates are epoch milliseconds.",
        "operationId": "findHistorico_1",
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoricoUdiDTO"
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/udi/historico/{id}/download": {
      "get": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna o arquivo do Historico do UDI",
        "description": "Retorna arquivo do Historico do UDI por ID.",
        "operationId": "downloadHistoricoUdi",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/nomeTecnico/categorias": {
      "get": {
        "tags": [
          "Consulta Nomes Técnicos de Produtos para Saúde"
        ],
        "summary": "Grupo populacional indicado",
        "description": "Retorna consulta de Catégorias'",
        "operationId": "listar_1",
        "responses": {
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TipoProduto"
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/lista/{codigoGrupo}/sublista": {
      "get": {
        "tags": [
          "Consulta Lista"
        ],
        "summary": "Retorna sublistas por grupo",
        "description": "Retorna as sublistas associadas ao grupo informado.",
        "operationId": "findSelectSublista",
        "parameters": [
          {
            "name": "codigoGrupo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
[...]
