{
  "openapi": "3.0.1",
  "info": {
    "title": "ANVISA Consultas Externas API",
    "description": "Consultas públicas da ANVISA: UDI de dispositivos médicos, nomes técnicos, fila de análise, listas e assuntos de peticionamento (observadas ao vivo em 2026-09) e, desde 2026-10-01, produtos para saúde, certificados de boas práticas e tabaco (ainda sem correções nem respostas gravadas). Esta descrição foi corrigida por overlay a partir do comportamento observado: veja `x-anvisa-client-requirements`.",
    "contact": {
      "name": "Contato",
      "email": "arquitetura@anvisa.gov.br"
    },
    "version": "2026-10-08"
  },
  "servers": [
    {
      "url": "https://api-gateway.prd.apps.anvisa.gov.br/consultas-externas-api",
      "description": "Public API Gateway URL"
    }
  ],
  "security": [
    {
      "Keycloak": [
        "*"
      ]
    }
  ],
  "tags": [
    {
      "name": "Consulta Certificado de Boas Práticas de Medicamentos",
      "description": "Operações relacionadas a Certificado de Boas Práticas de Medicamentos para Consultas Externas API e Portal de APIs"
    },
    {
      "name": "Consulta Fila",
      "description": "Operações relacionadas à fila de análise para Consultas Externas API e Portal de APIs"
    },
    {
      "name": "Consulta Assuntos",
      "description": "Operações relacionadas a consulta de Assuntos para Consultas Externas API e Portal de APIs"
    },
    {
      "name": "Consulta Certificado de Boas Práticas",
      "description": "Operações relacionadas a Certificado de Boas Práticas para Consultas Externas API e Portal de APIs"
    },
    {
      "name": "Consulta Tabaco",
      "description": "Operações relacionadas a tabaco para Consultas Externas API e Portal de APIs"
    },
    {
      "name": "Consulta Produtos Saúde",
      "description": "Operações relacionadas a consulta Produtos de Saúde"
    },
    {
      "name": "Consulta Lista",
      "description": "Operações relacionadas à lista de análise para Consultas Externas API e Portal de APIs"
    },
    {
      "name": "Consulta Nomes Técnicos de Produtos para Saúde",
      "description": "Nomes Técnicos de Produtos para Saúde para Consultas Externas API e Portal de APIs"
    },
    {
      "name": "Consulta UDI",
      "description": "Operações relacionadas a UDI para Consultas Externas API e Portal de APIs"
    }
  ],
  "paths": {
    "/api/v1/udi": {
      "post": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna UDI paginados",
        "description": "Paginated UDI search. At least one `filter` key is required; an empty filter fails with HTTP 500 and `mensagem: mensagens.MSG-062`. Verified live: `nomeComercial` (substring), `udiDi` (exact), `cnpjDetentora`, `codigoGmdn`, `nuRegistro`; the other keys come from the published example and are untested. The filter check runs before the page check: `page: 0` with an empty filter still yields MSG-062, not the page-index error.",
        "operationId": "paginar",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Filtro completo de UDI": {
                  "description": "Filtro completo de UDI",
                  "value": {
                    "page": 1,
                    "filter": {
                      "categoriaDispositivo": "EQUIPAMENTO",
                      "cnpjDetentora": "11195731000156",
                      "codigoGmdn": "30259",
                      "incorpora": "S",
                      "nomeComercial": "cateter",
                      "nuRegistro": "80290080001",
                      "razaoSocialFabLegal": "as",
                      "tipoCadastro": "RECONDICIONADO",
                      "udiDi": "a",
                      "usoLeigo": "S",
                      "versaoModelo": "a"
                    },
                    "size": 10
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageUdiDTO"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        },
        "x-required-filters": {
          "anyOf": [
            "nomeComercial",
            "udiDi",
            "cnpjDetentora",
            "codigoGmdn",
            "nuRegistro",
            "razaoSocialFabLegal",
            "categoriaDispositivo",
            "tipoCadastro",
            "versaoModelo",
            "usoLeigo",
            "incorpora"
          ],
          "verified": [
            "nomeComercial",
            "udiDi",
            "cnpjDetentora",
            "codigoGmdn",
            "nuRegistro"
          ]
        }
      }
    },
    "/api/v1/udi/termoGmdn": {
      "post": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna Termo Gmdn paginados",
        "description": "Paginated GMDN term search; names and definitions are in Portuguese. Works with an empty `filter`. Verified live: `conteudo` (text); `codigo` from ANVISA's example is untested.",
        "operationId": "paginarTermoGmdn",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Filtro completo de UDI": {
                  "description": "Filtro completo de UDI",
                  "value": {
                    "count": "10",
                    "page": "1",
                    "filter": {
                      "codigo": "1",
                      "conteudo": "dispositivo"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageTermoGMDNDTO"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        },
        "x-required-filters": {
          "anyOf": []
        },
        "x-verified-filters": [
          "conteudo"
        ]
      }
    },
    "/api/v1/tabaco/tabacos": {
      "post": {
        "tags": [
          "Consulta Tabaco"
        ],
        "summary": "Tabaco - Certificados",
        "description": "Retorna consulta de certificados'",
        "operationId": "findCertificado",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageConsultaTabacoDTO"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/saude": {
      "post": {
        "tags": [
          "Consulta Produtos Saúde"
        ],
        "summary": "Retorna produtos saúde paginados",
        "description": "Recebe JSON com column, count, order, page e filtros em filter[...]. Use os filtros específicos como nomeProduto, numeroRegistro, numeroProcesso, nomeTecnico, cnpj, etc.",
        "operationId": "buscaProdutosSaude",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Filtro completo de consulta produtos de saúde": {
                  "description": "Filtro completo de consulta produtos de saúde",
                  "value": {
                    "sorting": {
                      "nomeProduto": "ASC"
                    },
                    "count": 10,
                    "order": "ASC",
                    "page": "1",
                    "filter": {
                      "nomeProduto": "1000MEDIC PROBE COVER",
                      "razaoSocial": "1000MEDIC DISTRIBUIDORA IMPORTADORA EXPORTADORA DE MEDICAMENTOS LTDA",
                      "nomeTecnico": "",
                      "tipoAssunto": "true",
                      "cnpj": "05993698000107",
                      "situacaoNotificacaoRegistro": "1",
                      "numeroProcesso": "25351255616201719",
                      "registro": "80207450001",
                      "numeroRegistro": "80207459001"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageConsultaProdutoSaude"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/saude/{numeroProcesso}": {
      "post": {
        "tags": [
          "Consulta Produtos Saúde"
        ],
        "summary": "Retorna detalhe de produtos saúde",
        "description": "Recebe JSON com column, count, order, page e filtros em filter[...]. Use os filtros específicos como nomeProduto, numeroRegistro, numeroProcesso, nomeTecnico, cnpj, etc.",
        "operationId": "detailProdutoSaude",
        "parameters": [
          {
            "name": "numeroProcesso",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Payload completo de DetalheProdutoSaude",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DetalheProdutoSaude"
              },
              "examples": {
                "Filtro completo de consulta produtos de saúde e número de Processo": {
                  "description": "Filtro completo de consulta produtos de saúde e número de Processo",
                  "value": {
                    "sorting": {
                      "nomeProduto": "ASC"
                    },
                    "count": 10,
                    "order": "ASC",
                    "page": "1",
                    "filter": {
                      "nomeProduto": "1000MEDIC PROBE COVER",
                      "razaoSocial": "1000MEDIC DISTRIBUIDORA IMPORTADORA EXPORTADORA DE MEDICAMENTOS LTDA",
                      "nomeTecnico": "",
                      "tipoAssunto": "true",
                      "cnpj": "05993698000107",
                      "situacaoNotificacaoRegistro": "1",
                      "numeroProcesso": "25351255616201719",
                      "registro": "80207450001",
                      "numeroRegistro": "80207459001"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetalheProdutoSaude"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/nomeTecnico": {
      "post": {
        "tags": [
          "Consulta Nomes Técnicos de Produtos para Saúde"
        ],
        "summary": "Lista Nomes Técnicos de Produtos para Saúde",
        "description": "Paginated technical names of health products (2,678 rows on 2026-09-06). Works with an empty `filter`. Verified live: `nomeTecnico` (substring) and `categoriaProduto` (id from GET /nomeTecnico/categorias); `codigo` from ANVISA's example is untested.",
        "operationId": "listar",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Empresas Internacionais": {
                  "description": "Empresas Internacionais",
                  "value": {
                    "size": 10,
                    "page": "1",
                    "filter": {
                      "categoriaProduto": "8",
                      "codigo": "2501230",
                      "nomeTecnico": "Compressas"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageNomeTecnicoDTO"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        },
        "x-required-filters": {
          "anyOf": []
        },
        "x-verified-filters": [
          "nomeTecnico",
          "categoriaProduto"
        ]
      }
    },
    "/api/v1/nomeTecnico/download": {
      "post": {
        "tags": [
          "Consulta Nomes Técnicos de Produtos para Saúde"
        ],
        "summary": "Faz download do relatório de nomes técnicos",
        "description": "Exports nomes técnicos as `consulta_nomes_tecnicos_produto_saude.xls` (BIFF .xls, magic `D0 CF 11 E0`). No filter is required; the verified filter keys are those of POST /nomeTecnico. `size` is ignored: `{\"page\": 1, \"size\": 5, \"filter\": {\"nomeTecnico\": \"cateter\"}}` returned all 71 matching rows on 2026-09-08.",
        "operationId": "download",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder para exportação",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Exportação de dossiê": {
                  "description": "Exportação de dossiê",
                  "value": {
                    "size": 10,
                    "page": "1",
                    "filter": {
                      "categoriaProduto": "8",
                      "codigo": "2501230",
                      "nomeTecnico": "Compressas"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The spreadsheet itself. `Content-Type: application/vnd.ms-excel` and the file name in `Content-Disposition: attachment; filename=...`. Requires `Accept: */*`.",
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            },
            "content": {
              "application/vnd.ms-excel": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        },
        "x-paginated": false,
        "x-accept": "*/*"
      }
    },
    "/api/v1/lista/downloadlista": {
      "post": {
        "tags": [
          "Consulta Lista"
        ],
        "summary": "Faz download do relatório de lista",
        "description": "Exports one whole sublista as a spreadsheet (`consulta_lista.xlsx`, OOXML, 555 rows for sublista 2141 on 2026-09-08). The required filter key is `subfila`, not `sublista`, and `page`/`size` are ignored.",
        "operationId": "downloadLista",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder para exportação de lista",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Download relatório lista": {
                  "description": "Download relatório lista",
                  "value": {
                    "count": 10,
                    "page": "1",
                    "order": "ASC",
                    "filter": {
                      "subfila": "123"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The spreadsheet itself. `Content-Type: application/vnd.ms-excel` and the file name in `Content-Disposition: attachment; filename=...`. Requires `Accept: */*`.",
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            },
            "content": {
              "application/vnd.ms-excel": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        },
        "x-required-filters": {
          "allOf": [
            "subfila"
          ]
        },
        "x-paginated": false,
        "x-accept": "*/*"
      }
    },
    "/api/v1/lista/consulta": {
      "post": {
        "tags": [
          "Consulta Lista"
        ],
        "summary": "Retorna a Lista calculada",
        "description": "Returns the whole calculated list for one sublista (555 rows for sublista 2141 on 2026-09-06). The required filter key is `subfila`, not `sublista`: an integer id from GET /api/v1/lista/{codigoGrupo}/sublista, otherwise HTTP 500 \"Filtro 'subfila' não informado.\". `page` and `size` are ignored.",
        "operationId": "findCalculada",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Consulta de fila calculada": {
                  "description": "Consulta de fila calculada",
                  "value": {
                    "count": 10,
                    "page": 1,
                    "order": "ASC",
                    "filter": {
                      "subfila": 2141
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FilaCalculadaDTO"
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        },
        "x-required-filters": {
          "allOf": [
            "subfila"
          ]
        },
        "x-paginated": false
      }
    },
    "/api/v1/fila/downloadfila": {
      "post": {
        "tags": [
          "Consulta Fila"
        ],
        "summary": "Faz download do relatório de fila",
        "description": "Exports one whole subqueue as a spreadsheet (`consulta_fila.xlsx`, 40 rows after a 7-row header block for subfila 167 on 2026-09-08). The file is OOXML (magic `PK`) despite the `application/vnd.ms-excel` content type. `filter.subfila` is required and `page`/`size` are ignored, as in /fila/consulta. A subfila with nothing queued is HTTP 500 \"Nenhum resultado encontrado para exportação.\" here, not the empty 404 that /fila/consulta gives.",
        "operationId": "downloadFila",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder para exportação de fila",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Download relatório fila": {
                  "description": "Download relatório fila",
                  "value": {
                    "size": 10,
                    "page": "1",
                    "order": "ASC",
                    "filter": {
                      "subfila": "123"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The spreadsheet itself. `Content-Type: application/vnd.ms-excel` and the file name in `Content-Disposition: attachment; filename=...`. Requires `Accept: */*`.",
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            },
            "content": {
              "application/vnd.ms-excel": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        },
        "x-required-filters": {
          "allOf": [
            "subfila"
          ]
        },
        "x-paginated": false,
        "x-accept": "*/*"
      }
    },
    "/api/v1/fila/consulta": {
      "post": {
        "tags": [
          "Consulta Fila"
        ],
        "summary": "Retorna a fila calculada",
        "description": "Returns the whole calculated queue for one subqueue. `filter.subfila` (integer id from GET /api/v1/fila/{codigoGrupo}/subfila) is required, otherwise HTTP 500 \"Filtro 'subfila' não informado.\". `page` and `size` are ignored.",
        "operationId": "findCalculada_1",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Consulta de fila calculada": {
                  "description": "Consulta de fila calculada",
                  "value": {
                    "size": 10,
                    "page": 1,
                    "order": "ASC",
                    "filter": {
                      "subfila": 167
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FilaCalculadaDTO"
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        },
        "x-required-filters": {
          "allOf": [
            "subfila"
          ]
        },
        "x-paginated": false,
        "x-observed-sizes": "Whole queues observed on 2026-09-06: subfila 167 → 40 rows, subfila 161 → 35 rows, subfila 1742 → 71 rows; the sibling /lista/consulta returned 555 rows through the same DTO. No size cap. A full crawl of all 314 subfilas listed by the catalogs held 10,390 rows.",
        "x-empty-queue": "A subfila with nothing queued answers HTTP 404 with an empty body, not an empty array (88 of 314 subfilas on 2026-09-06, e.g. 1721 and 2609). An unknown id gets the same."
      }
    },
    "/api/v1/certificadoMedicamento/download": {
      "post": {
        "tags": [
          "Consulta Certificado de Boas Práticas de Medicamentos"
        ],
        "summary": "Faz o download do relatório de certificados",
        "description": "Recebe JSON com page, order, sorting e filtros em filter[...] e gera um arquivo para download.",
        "operationId": "download_1",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Certificados Medicamento": {
                  "description": "Certificados Medicamento",
                  "value": {
                    "size": "10",
                    "page": "1",
                    "filter": {
                      "nacional": true,
                      "internacional": true,
                      "certificacaoConcedidaPor": "2",
                      "classesCertificacao": "27702",
                      "formasFarmaceuticas": "53",
                      "linhasCertificacao": "12",
                      "status": "0,1,2,3",
                      "cnpjCertificada": "0",
                      "cnpjSolicitante": "0",
                      "ufs": "MG",
                      "codigoUnico": "C011812",
                      "pais": "182",
                      "contexto": "certificadoMedicamento",
                      "dataPublicacaoInicial": "01/12/2024 03:00:00",
                      "dataPublicacaoFinal": "30/01/2025 03:00:00",
                      "dataValidadeInicial": "01/12/2024 03:00:00",
                      "dataValidadeFinal": "30/01/2025 03:00:00",
                      "liberacaoSim": true,
                      "liberacaoNao": true
                    }
                  }
                },
                "Certificados Genéricos": {
                  "description": "Certificados Genéricos",
                  "value": {
                    "size": "10",
                    "page": "1",
                    "filter": {
                      "nacional": true,
                      "internacional": false,
                      "certificacaoConcedidaPor": "3,4",
                      "status": "0,3",
                      "cnpjCertificada": "76475789000107",
                      "ufs": "SP,MG",
                      "contexto": "certificado",
                      "dataPublicacaoInicial": "01/12/2024 03:00:00",
                      "dataPublicacaoFinal": "30/01/2025 03:00:00",
                      "dataValidadeInicial": "01/12/2024 03:00:00",
                      "dataValidadeFinal": "30/01/2025 03:00:00",
                      "liberacaoSim": true,
                      "liberacaoNao": false
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/certificadoMedicamento/": {
      "post": {
        "tags": [
          "Consulta Certificado de Boas Práticas de Medicamentos"
        ],
        "summary": "Retorna certificados paginados",
        "description": "Recebe JSON com page, order, sorting e filtros em filter[...]. Para certificados medicamentos, use contexto = \"certificadoMedicamento\" e inclua filtros específicos; para certificados genéricos, use contexto = \"certificado\" e não inclua classesCertificacao, formasFarmaceuticas ou linhasCertificacao.",
        "operationId": "findCertificado_1",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Certificados Medicamento": {
                  "description": "Certificados Medicamento",
                  "value": {
                    "size": "10",
                    "page": "1",
                    "filter": {
                      "nacional": true,
                      "internacional": true,
                      "certificacaoConcedidaPor": "2",
                      "classesCertificacao": "27702",
                      "formasFarmaceuticas": "53",
                      "linhasCertificacao": "12",
                      "status": "0,1,2,3",
                      "cnpjCertificada": "0",
                      "cnpjSolicitante": "0",
                      "ufs": "MG",
                      "codigoUnico": "C011812",
                      "pais": "182",
                      "contexto": "certificadoMedicamento",
                      "dataPublicacaoInicial": "01/12/2024 03:00:00",
                      "dataPublicacaoFinal": "30/01/2025 03:00:00",
                      "dataValidadeInicial": "01/12/2024 03:00:00",
                      "dataValidadeFinal": "30/01/2025 03:00:00",
                      "liberacaoSim": true,
                      "liberacaoNao": true
                    }
                  }
                },
                "Certificados Genéricos": {
                  "description": "Certificados Genéricos",
                  "value": {
                    "size": "10",
                    "page": "1",
                    "filter": {
                      "nacional": true,
                      "internacional": false,
                      "certificacaoConcedidaPor": "3,4",
                      "status": "0,3",
                      "cnpjCertificada": "76475789000107",
                      "ufs": "SP,MG",
                      "contexto": "certificado",
                      "dataPublicacaoInicial": "01/12/2024 03:00:00",
                      "dataPublicacaoFinal": "30/01/2025 03:00:00",
                      "dataValidadeInicial": "01/12/2024 03:00:00",
                      "dataValidadeFinal": "30/01/2025 03:00:00",
                      "liberacaoSim": true,
                      "liberacaoNao": false
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageCertificadoResultado"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/certificado/download": {
      "post": {
        "tags": [
          "Consulta Certificado de Boas Práticas"
        ],
        "summary": "Faz o download do relatório de certificados",
        "description": "Recebe JSON com page, order, sorting e filtros em filter[...] e gera um arquivo para download.",
        "operationId": "download_2",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Certificados": {
                  "description": "Certificados",
                  "value": {
                    "size": "10",
                    "page": "1",
                    "filter": {
                      "nacional": true,
                      "internacional": false,
                      "certificacaoConcedidaPor": "3,4",
                      "status": "0,3",
                      "cnpjCertificada": "76475789000107",
                      "ufs": "SP,MG",
                      "contexto": "certificado",
                      "dataPublicacaoInicial": "01/12/2024 03:00:00",
                      "dataPublicacaoFinal": "30/01/2025 03:00:00",
                      "dataValidadeInicial": "01/12/2024 03:00:00",
                      "dataValidadeFinal": "30/01/2025 03:00:00",
                      "liberacaoSim": true,
                      "liberacaoNao": false
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/certificado/": {
      "post": {
        "tags": [
          "Consulta Certificado de Boas Práticas"
        ],
        "summary": "Retorna certificados paginados",
        "description": "Recebe JSON com page, order, sorting e filtros em filter[...]. Para certificados medicamentos, use contexto = \"certificadoMedicamento\" e inclua filtros específicos; para certificados genéricos, use contexto = \"certificado\" e não inclua classesCertificacao, formasFarmaceuticas ou linhasCertificacao.",
        "operationId": "findCertificado_2",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Certificados": {
                  "description": "Certificados",
                  "value": {
                    "size": "10",
                    "page": "1",
                    "filter": {
                      "tipoCertificado": "1",
                      "nacional": true,
                      "internacional": false,
                      "certificacaoConcedidaPor": "3,4",
                      "status": "0,3",
                      "cnpjCertificada": "76475789000107",
                      "ufs": "SP,MG",
                      "contexto": "certificado",
                      "dataPublicacaoInicial": "01/12/2024 03:00:00",
                      "dataPublicacaoFinal": "30/01/2025 03:00:00",
                      "dataValidadeInicial": "01/12/2024 03:00:00",
                      "dataValidadeFinal": "30/01/2025 03:00:00",
                      "liberacaoSim": true,
                      "liberacaoNao": false
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageCertificadoResultado"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        }
      }
    },
    "/api/v1/assunto/download": {
      "post": {
        "tags": [
          "Consulta Assuntos"
        ],
        "summary": "Faz download do relatório de assunto",
        "description": "Exports assuntos as `consulta_assuntos.xls` (BIFF .xls). An empty `filter` exports all 2,599 assuntos, about 5 MB. `filter.codigosAssunto` (an array of ids) does bind here, unlike POST /api/v1/assunto/ which cannot bind its body at all: `{\"filter\": {\"codigosAssunto\": [10013]}}` returned a 13 KB file on 2026-09-08.",
        "operationId": "download_3",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder para exportação",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Exportação de Assunto": {
                  "description": "Exportação de Assunto",
                  "value": {
                    "order": "ASC",
                    "filter": {
                      "codigosAssunto": "108",
                      "servicos": "10038",
                      "sistemas": "COSMETICOS",
                      "tiposProduto": "6",
                      "tiposSolicitacao": "S"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The spreadsheet itself. `Content-Type: application/vnd.ms-excel` and the file name in `Content-Disposition: attachment; filename=...`. Requires `Accept: */*`.",
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            },
            "content": {
              "application/vnd.ms-excel": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          },
          "500": {
            "description": "Internal error OR request validation failure (see ErroApi.mensagem / mensagem_detalhada).",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErroApi"
                }
              }
            },
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Burst-Capacity": {
                "$ref": "#/components/headers/X-RateLimit-Burst-Capacity"
              },
              "X-RateLimit-Replenish-Rate": {
                "$ref": "#/components/headers/X-RateLimit-Replenish-Rate"
              }
            }
          }
        },
        "x-paginated": false,
        "x-accept": "*/*"
      }
    },
    "/api/v1/assunto/downloadAssuntoFormulario": {
      "post": {
        "tags": [
          "Consulta Assuntos"
        ],
        "summary": "Faz download do formulário de assunto",
        "description": "Returns the form file attached to an assunto. Not a spreadsheet: formulário 8016 of assunto 10013 came back as a 66,350-byte .docx on 2026-09-08. The response has neither `Content-Type` nor `Content-Disposition`, so the file name has to come from `DetalheAssunto.formularios[].nomeArquivo`.",
        "operationId": "downloadAssuntoFormulario",
        "requestBody": {
          "description": "The formulário id as a bare JSON integer. Sending an object fails with HTTP 500 \"com.fasterxml.jackson...: Cannot deserialize value of type `java.lang.Long` from Object value\"; an unknown id fails with \"javax.persistence.NoResultException: No entity found for query\".",
          "content": {
            "application/json": {
              "schema": {
                "type": "integer",
                "format": "int64",
                "description": "Formulário id, from `DetalheAssunto.formularios[].id`.",
                "example": 8016
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The raw file bytes, with no `Content-Type` and no `Content-Disposition`. Requires `Accept: */*`.",
            "headers": {
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
[...]
