{
  "openapi": "3.0.1",
  "info": {
    "title": "@project.artifactId@",
    "description": "Feito com Arquitetura Spring Boot da Anvisa",
    "contact": {
      "name": "Contato",
      "email": "arquitetura@anvisa.gov.br"
    },
    "version": "@project.version@"
  },
  "servers": [
    {
      "url": "https://api-gateway.prd.apps.anvisa.gov.br/consultas-externas-api",
      "description": "Public API Gateway URL"
    }
  ],
  "security": [
    {
      "Keycloak": [
        "*"
      ]
    }
  ],
  "tags": [
    {
      "name": "Consulta Certificado de Boas Práticas de Medicamentos",
      "description": "Operações relacionadas a Certificado de Boas Práticas de Medicamentos para Consultas Externas API e Portal de APIs"
    },
    {
      "name": "Consulta Fila",
      "description": "Operações relacionadas à fila de análise para Consultas Externas API e Portal de APIs"
    },
    {
      "name": "Consulta Assuntos",
      "description": "Operações relacionadas a consulta de Assuntos para Consultas Externas API e Portal de APIs"
    },
    {
      "name": "Consulta Certificado de Boas Práticas",
      "description": "Operações relacionadas a Certificado de Boas Práticas para Consultas Externas API e Portal de APIs"
    },
    {
      "name": "Consulta Tabaco",
      "description": "Operações relacionadas a tabaco para Consultas Externas API e Portal de APIs"
    },
    {
      "name": "Consulta Produtos Saúde",
      "description": "Operações relacionadas a consulta Produtos de Saúde"
    },
    {
      "name": "Consulta Lista",
      "description": "Operações relacionadas à lista de análise para Consultas Externas API e Portal de APIs"
    },
    {
      "name": "Consulta Nomes Técnicos de Produtos para Saúde",
      "description": "Nomes Técnicos de Produtos para Saúde para Consultas Externas API e Portal de APIs"
    },
    {
      "name": "Consulta UDI",
      "description": "Operações relacionadas a UDI para Consultas Externas API e Portal de APIs"
    }
  ],
  "paths": {
    "/api/v1/udi": {
      "post": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna UDI paginados",
        "description": "Recebe JSON com column, count, order, page e filtros em filter[...]. Use os filtros específicos como categoriaDispositivo, cnpjDetentora, codigoGmdn etc.",
        "operationId": "paginar",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Filtro completo de UDI": {
                  "description": "Filtro completo de UDI",
                  "value": {
                    "count": "10",
                    "page": "1",
                    "filter": {
                      "categoriaDispositivo": "EQUIPAMENTO",
                      "cnpjDetentora": "11195731000156",
                      "codigoGmdn": "30259",
                      "incorpora": "S",
                      "nomeComercial": "a",
                      "nuRegistro": "80290080001",
                      "razaoSocialFabLegal": "as",
                      "tipoCadastro": "RECONDICIONADO",
                      "udiDi": "a",
                      "usoLeigo": "S",
                      "versaoModelo": "a"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageUdiDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/udi/termoGmdn": {
      "post": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna Termo Gmdn paginados",
        "description": "Recebe JSON com column, count, order, page e filtros em filter[...]. Use os filtros específicos como categoriaDispositivo, cnpjDetentora, codigoGmdn etc.",
        "operationId": "paginarTermoGmdn",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Filtro completo de UDI": {
                  "description": "Filtro completo de UDI",
                  "value": {
                    "count": "10",
                    "page": "1",
                    "filter": {
                      "codigo": "1",
                      "conteudo": "dispositivo"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageTermoGMDNDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tabaco/tabacos": {
      "post": {
        "tags": [
          "Consulta Tabaco"
        ],
        "summary": "Tabaco - Certificados",
        "description": "Retorna consulta de certificados'",
        "operationId": "findCertificado",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageConsultaTabacoDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/saude": {
      "post": {
        "tags": [
          "Consulta Produtos Saúde"
        ],
        "summary": "Retorna produtos saúde paginados",
        "description": "Recebe JSON com column, count, order, page e filtros em filter[...]. Use os filtros específicos como nomeProduto, numeroRegistro, numeroProcesso, nomeTecnico, cnpj, etc.",
        "operationId": "buscaProdutosSaude",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Filtro completo de consulta produtos de saúde": {
                  "description": "Filtro completo de consulta produtos de saúde",
                  "value": {
                    "sorting": {
                      "nomeProduto": "ASC"
                    },
                    "count": 10,
                    "order": "ASC",
                    "page": "1",
                    "filter": {
                      "nomeProduto": "1000MEDIC PROBE COVER",
                      "razaoSocial": "1000MEDIC DISTRIBUIDORA IMPORTADORA EXPORTADORA DE MEDICAMENTOS LTDA",
                      "nomeTecnico": "",
                      "tipoAssunto": "true",
                      "cnpj": "05993698000107",
                      "situacaoNotificacaoRegistro": "1",
                      "numeroProcesso": "25351255616201719",
                      "registro": "80207450001",
                      "numeroRegistro": "80207459001"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageConsultaProdutoSaude"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/saude/{numeroProcesso}": {
      "post": {
        "tags": [
          "Consulta Produtos Saúde"
        ],
        "summary": "Retorna detalhe de produtos saúde",
        "description": "Recebe JSON com column, count, order, page e filtros em filter[...]. Use os filtros específicos como nomeProduto, numeroRegistro, numeroProcesso, nomeTecnico, cnpj, etc.",
        "operationId": "detailProdutoSaude",
        "parameters": [
          {
            "name": "numeroProcesso",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Payload completo de DetalheProdutoSaude",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DetalheProdutoSaude"
              },
              "examples": {
                "Filtro completo de consulta produtos de saúde e número de Processo": {
                  "description": "Filtro completo de consulta produtos de saúde e número de Processo",
                  "value": {
                    "sorting": {
                      "nomeProduto": "ASC"
                    },
                    "count": 10,
                    "order": "ASC",
                    "page": "1",
                    "filter": {
                      "nomeProduto": "1000MEDIC PROBE COVER",
                      "razaoSocial": "1000MEDIC DISTRIBUIDORA IMPORTADORA EXPORTADORA DE MEDICAMENTOS LTDA",
                      "nomeTecnico": "",
                      "tipoAssunto": "true",
                      "cnpj": "05993698000107",
                      "situacaoNotificacaoRegistro": "1",
                      "numeroProcesso": "25351255616201719",
                      "registro": "80207450001",
                      "numeroRegistro": "80207459001"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetalheProdutoSaude"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/nomeTecnico": {
      "post": {
        "tags": [
          "Consulta Nomes Técnicos de Produtos para Saúde"
        ],
        "summary": "Lista Nomes Técnicos de Produtos para Saúde",
        "description": "Retorna uma lista paginada de Nomes Técnicos de Produtos para Saúde com base nos filtros informados.",
        "operationId": "listar",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Empresas Internacionais": {
                  "description": "Empresas Internacionais",
                  "value": {
                    "size": 10,
                    "page": "1",
                    "filter": {
                      "categoriaProduto": "8",
                      "codigo": "2501230",
                      "nomeTecnico": "Compressas"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageNomeTecnicoDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/nomeTecnico/download": {
      "post": {
        "tags": [
          "Consulta Nomes Técnicos de Produtos para Saúde"
        ],
        "summary": "Faz download do relatório de dossiê",
        "description": "Recebe JSON com column, count, order, page e filtros em filter[...] e gera um arquivo XLS para download.",
        "operationId": "download",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder para exportação",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Exportação de dossiê": {
                  "description": "Exportação de dossiê",
                  "value": {
                    "size": 10,
                    "page": "1",
                    "filter": {
                      "categoriaProduto": "8",
                      "codigo": "2501230",
                      "nomeTecnico": "Compressas"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/lista/downloadlista": {
      "post": {
        "tags": [
          "Consulta Lista"
        ],
        "summary": "Faz download do relatório de lista",
        "description": "Recebe os filtros da consulta e gera um arquivo XLSX com o relatório de lista.",
        "operationId": "downloadLista",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder para exportação de lista",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Download relatório lista": {
                  "description": "Download relatório lista",
                  "value": {
                    "count": 10,
                    "page": "1",
                    "order": "ASC",
                    "filter": {
                      "subfila": "123"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/lista/consulta": {
      "post": {
        "tags": [
          "Consulta Lista"
        ],
        "summary": "Retorna a Lista calculada",
        "description": "Recebe os filtros da consulta e retorna os dados calculados da subfila informada.",
        "operationId": "findCalculada",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Consulta de fila calculada": {
                  "description": "Consulta de fila calculada",
                  "value": {
                    "count": 10,
                    "page": "1",
                    "order": "ASC",
                    "filter": {
                      "subfila": "123"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FilaCalculadaDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/fila/downloadfila": {
      "post": {
        "tags": [
          "Consulta Fila"
        ],
        "summary": "Faz download do relatório de fila",
        "description": "Recebe os filtros da consulta e gera um arquivo XLSX com o relatório de fila.",
        "operationId": "downloadFila",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder para exportação de fila",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Download relatório fila": {
                  "description": "Download relatório fila",
                  "value": {
                    "size": 10,
                    "page": "1",
                    "order": "ASC",
                    "filter": {
                      "subfila": "123"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/fila/consulta": {
      "post": {
        "tags": [
          "Consulta Fila"
        ],
        "summary": "Retorna a fila calculada",
        "description": "Recebe os filtros da consulta e retorna os dados calculados da subfila informada.",
        "operationId": "findCalculada_1",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Consulta de fila calculada": {
                  "description": "Consulta de fila calculada",
                  "value": {
                    "size": 10,
                    "page": "1",
                    "order": "ASC",
                    "filter": {
                      "subfila": "123"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FilaCalculadaDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/certificadoMedicamento/download": {
      "post": {
        "tags": [
          "Consulta Certificado de Boas Práticas de Medicamentos"
        ],
        "summary": "Faz o download do relatório de certificados",
        "description": "Recebe JSON com page, order, sorting e filtros em filter[...] e gera um arquivo para download.",
        "operationId": "download_1",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Certificados Medicamento": {
                  "description": "Certificados Medicamento",
                  "value": {
                    "size": "10",
                    "page": "1",
                    "filter": {
                      "nacional": true,
                      "internacional": true,
                      "certificacaoConcedidaPor": "2",
                      "classesCertificacao": "27702",
                      "formasFarmaceuticas": "53",
                      "linhasCertificacao": "12",
                      "status": "0,1,2,3",
                      "cnpjCertificada": "0",
                      "cnpjSolicitante": "0",
                      "ufs": "MG",
                      "codigoUnico": "C011812",
                      "pais": "182",
                      "contexto": "certificadoMedicamento",
                      "dataPublicacaoInicial": "01/12/2024 03:00:00",
                      "dataPublicacaoFinal": "30/01/2025 03:00:00",
                      "dataValidadeInicial": "01/12/2024 03:00:00",
                      "dataValidadeFinal": "30/01/2025 03:00:00",
                      "liberacaoSim": true,
                      "liberacaoNao": true
                    }
                  }
                },
                "Certificados Genéricos": {
                  "description": "Certificados Genéricos",
                  "value": {
                    "size": "10",
                    "page": "1",
                    "filter": {
                      "nacional": true,
                      "internacional": false,
                      "certificacaoConcedidaPor": "3,4",
                      "status": "0,3",
                      "cnpjCertificada": "76475789000107",
                      "ufs": "SP,MG",
                      "contexto": "certificado",
                      "dataPublicacaoInicial": "01/12/2024 03:00:00",
                      "dataPublicacaoFinal": "30/01/2025 03:00:00",
                      "dataValidadeInicial": "01/12/2024 03:00:00",
                      "dataValidadeFinal": "30/01/2025 03:00:00",
                      "liberacaoSim": true,
                      "liberacaoNao": false
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/certificadoMedicamento/": {
      "post": {
        "tags": [
          "Consulta Certificado de Boas Práticas de Medicamentos"
        ],
        "summary": "Retorna certificados paginados",
        "description": "Recebe JSON com page, order, sorting e filtros em filter[...]. Para certificados medicamentos, use contexto = \"certificadoMedicamento\" e inclua filtros específicos; para certificados genéricos, use contexto = \"certificado\" e não inclua classesCertificacao, formasFarmaceuticas ou linhasCertificacao.",
        "operationId": "findCertificado_1",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Certificados Medicamento": {
                  "description": "Certificados Medicamento",
                  "value": {
                    "size": "10",
                    "page": "1",
                    "filter": {
                      "nacional": true,
                      "internacional": true,
                      "certificacaoConcedidaPor": "2",
                      "classesCertificacao": "27702",
                      "formasFarmaceuticas": "53",
                      "linhasCertificacao": "12",
                      "status": "0,1,2,3",
                      "cnpjCertificada": "0",
                      "cnpjSolicitante": "0",
                      "ufs": "MG",
                      "codigoUnico": "C011812",
                      "pais": "182",
                      "contexto": "certificadoMedicamento",
                      "dataPublicacaoInicial": "01/12/2024 03:00:00",
                      "dataPublicacaoFinal": "30/01/2025 03:00:00",
                      "dataValidadeInicial": "01/12/2024 03:00:00",
                      "dataValidadeFinal": "30/01/2025 03:00:00",
                      "liberacaoSim": true,
                      "liberacaoNao": true
                    }
                  }
                },
                "Certificados Genéricos": {
                  "description": "Certificados Genéricos",
                  "value": {
                    "size": "10",
                    "page": "1",
                    "filter": {
                      "nacional": true,
                      "internacional": false,
                      "certificacaoConcedidaPor": "3,4",
                      "status": "0,3",
                      "cnpjCertificada": "76475789000107",
                      "ufs": "SP,MG",
                      "contexto": "certificado",
                      "dataPublicacaoInicial": "01/12/2024 03:00:00",
                      "dataPublicacaoFinal": "30/01/2025 03:00:00",
                      "dataValidadeInicial": "01/12/2024 03:00:00",
                      "dataValidadeFinal": "30/01/2025 03:00:00",
                      "liberacaoSim": true,
                      "liberacaoNao": false
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageCertificadoResultado"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/certificado/download": {
      "post": {
        "tags": [
          "Consulta Certificado de Boas Práticas"
        ],
        "summary": "Faz o download do relatório de certificados",
        "description": "Recebe JSON com page, order, sorting e filtros em filter[...] e gera um arquivo para download.",
        "operationId": "download_2",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Certificados": {
                  "description": "Certificados",
                  "value": {
                    "size": "10",
                    "page": "1",
                    "filter": {
                      "nacional": true,
                      "internacional": false,
                      "certificacaoConcedidaPor": "3,4",
                      "status": "0,3",
                      "cnpjCertificada": "76475789000107",
                      "ufs": "SP,MG",
                      "contexto": "certificado",
                      "dataPublicacaoInicial": "01/12/2024 03:00:00",
                      "dataPublicacaoFinal": "30/01/2025 03:00:00",
                      "dataValidadeInicial": "01/12/2024 03:00:00",
                      "dataValidadeFinal": "30/01/2025 03:00:00",
                      "liberacaoSim": true,
                      "liberacaoNao": false
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/certificado/": {
      "post": {
        "tags": [
          "Consulta Certificado de Boas Práticas"
        ],
        "summary": "Retorna certificados paginados",
        "description": "Recebe JSON com page, order, sorting e filtros em filter[...]. Para certificados medicamentos, use contexto = \"certificadoMedicamento\" e inclua filtros específicos; para certificados genéricos, use contexto = \"certificado\" e não inclua classesCertificacao, formasFarmaceuticas ou linhasCertificacao.",
        "operationId": "findCertificado_2",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Certificados": {
                  "description": "Certificados",
                  "value": {
                    "size": "10",
                    "page": "1",
                    "filter": {
                      "tipoCertificado": "1",
                      "nacional": true,
                      "internacional": false,
                      "certificacaoConcedidaPor": "3,4",
                      "status": "0,3",
                      "cnpjCertificada": "76475789000107",
                      "ufs": "SP,MG",
                      "contexto": "certificado",
                      "dataPublicacaoInicial": "01/12/2024 03:00:00",
                      "dataPublicacaoFinal": "30/01/2025 03:00:00",
                      "dataValidadeInicial": "01/12/2024 03:00:00",
                      "dataValidadeFinal": "30/01/2025 03:00:00",
                      "liberacaoSim": true,
                      "liberacaoNao": false
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageCertificadoResultado"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assunto/download": {
      "post": {
        "tags": [
          "Consulta Assuntos"
        ],
        "summary": "Faz download do relatório de assunto",
        "description": "Recebe JSON com column, count, order, page e filtros em filter[...] e gera um arquivo XLS para download.",
        "operationId": "download_3",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder para exportação",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Exportação de Assunto": {
                  "description": "Exportação de Assunto",
                  "value": {
                    "order": "ASC",
                    "filter": {
                      "codigosAssunto": "108",
                      "servicos": "10038",
                      "sistemas": "COSMETICOS",
                      "tiposProduto": "6",
                      "tiposSolicitacao": "S"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assunto/downloadAssuntoFormulario": {
      "post": {
        "tags": [
          "Consulta Assuntos"
        ],
        "summary": "Faz download do formulário de assunto",
        "description": "Recebe JSON codigo do formulário e gera um arquivo XLS para download.",
        "operationId": "downloadAssuntoFormulario",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder para exportação",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Exportação do formulário de Assunto": {
                  "description": "Exportação do formulário de Assunto",
                  "value": {
                    "codigosAssunto": "108"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/assunto/": {
      "post": {
        "tags": [
          "Consulta Assuntos"
        ],
        "summary": "Retorna assuntos paginados",
        "description": "Recebe JSON com page, order, sorting e filtros em filter[...]. Use os filtros específicos como codigosAssunto, servicos, sistemas, tiposProduto, tiposSolicitacao, etc.",
        "operationId": "findAssunto",
        "requestBody": {
          "description": "Payload completo de PaginationBuilder",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaginationBuilder"
              },
              "examples": {
                "Assuntos": {
                  "description": "Assuntos",
                  "value": {
                    "count": "10",
                    "page": "1",
                    "column": "idAssunto",
                    "order": "ASC",
                    "filter": {
                      "codigosAssunto": "108",
                      "servicos": "10038",
                      "sistemas": "COSMETICOS",
                      "tiposProduto": "6",
                      "tiposSolicitacao": "S"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageConsultaAssunto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/udi/{id}": {
      "get": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna o UDI detalhado",
        "description": "Retorna o UDI detalhado de acordo com o ID informado.",
        "operationId": "find",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DetalheDispositivoDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/udi/{id}/download": {
      "get": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna o arquivo do detalhe do UDI",
        "description": "Retorna arquivo do Detalhe do UDI por ID.",
        "operationId": "download_4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/udi/{idDispositivo}/{idHistorico}": {
      "get": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna o Historico do UDI",
        "description": "Retorna o  Historico do UDI de acordo com os IDs informados.",
        "operationId": "findHistorico",
        "parameters": [
          {
            "name": "idDispositivo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "idHistorico",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DetalheDispositivoDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/udi/{idDispositivo}/{idHistorico}/download": {
      "get": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna o arquivo do detalhamento por id do dispositivo e id histórico do UDI",
        "description": "Retorna arquivo do Historico do UDI por ID.",
        "operationId": "downloadHistorico",
        "parameters": [
          {
            "name": "idDispositivo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "idHistorico",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/udi/termoGmdn/{codigo}": {
      "get": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna o termo Gmdn do UDI",
        "description": "Retorna o termo Gmdn do UDI por codigo.",
        "operationId": "paginarTermoGmdn_1",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TermoGMDNDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/udi/historico": {
      "get": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna o Historico do UDI",
        "description": "Retorna o  Historico do UDI .",
        "operationId": "findHistorico_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoricoUdiDTO"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/udi/historico/{id}/download": {
      "get": {
        "tags": [
          "Consulta UDI"
        ],
        "summary": "Retorna o arquivo do Historico do UDI",
        "description": "Retorna arquivo do Historico do UDI por ID.",
        "operationId": "downloadHistoricoUdi",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tabaco/tipoTabaco": {
      "get": {
        "tags": [
          "Consulta Tabaco"
        ],
        "operationId": "findTipoTabaco",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TipoProdutoTabaco"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tabaco/situacoes": {
      "get": {
        "tags": [
          "Consulta Tabaco"
        ],
        "operationId": "findSituacoes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChaveValorObject"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tabaco/origemTabaco": {
      "get": {
        "tags": [
          "Consulta Tabaco"
        ],
        "operationId": "findOrigemTabaco",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChaveValorObject"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tabaco/embalagem/{rotulo}": {
      "get": {
        "tags": [
          "Consulta Tabaco"
        ],
        "operationId": "downloadRotuloSaneanteNotificado",
        "parameters": [
          {
            "name": "Authorization",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rotulo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tabaco/download": {
      "get": {
        "tags": [
          "Consulta Tabaco"
        ],
        "operationId": "download_5",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filtro",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PaginationBuilder"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tabaco/downloadPDF/{codDocumento}": {
      "get": {
        "tags": [
          "Consulta Tabaco"
        ],
        "operationId": "downloadPDF",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codDocumento",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tabaco/detailTabaco/{id}": {
      "get": {
        "tags": [
          "Consulta Tabaco"
        ],
        "operationId": "detailTabaco",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaTabacoDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tabaco/destinoTabaco": {
      "get": {
        "tags": [
          "Consulta Tabaco"
        ],
        "operationId": "findDestinoTabaco",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChaveValorObject"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tabaco/categoriaAditivo": {
      "get": {
        "tags": [
          "Consulta Tabaco"
        ],
        "operationId": "findCategoriaAditivo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoriaAditivo"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/saude/downloadPDF/{numeroProcesso}": {
      "get": {
        "tags": [
          "Consulta Produtos Saúde"
        ],
        "summary": "Exporta detalhes do produto de saúde em PDF",
        "description": "Gera o arquivo PDF contendo os detalhes do produto de saúde.",
        "operationId": "downloadPDF_1",
        "parameters": [
          {
            "name": "numeroProcesso",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo PDF gerado com sucesso",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Erro ao gerar o arquivo PDF"
          }
        }
      }
    },
    "/api/v1/saude/downloadExcel/{numeroProcesso}": {
      "get": {
        "tags": [
          "Consulta Produtos Saúde"
        ],
        "summary": "Exporta detalhes do produto de saúde em Excel",
        "description": "Gera o arquivo Excel contendo os detalhes do produto de saúde.",
        "operationId": "downloadExcel",
        "parameters": [
          {
            "name": "numeroProcesso",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo Excel gerado com sucesso",
            "content": {
              "application/vnd.ms-excel": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Erro ao gerar o arquivo Excel"
          }
        }
      }
    },
    "/api/v1/nomeTecnico/categorias": {
      "get": {
        "tags": [
          "Consulta Nomes Técnicos de Produtos para Saúde"
        ],
        "summary": "Grupo populacional indicado",
        "description": "Retorna consulta de Catégorias'",
        "operationId": "listar_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TipoProduto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/lista/{codigoGrupo}/sublista": {
      "get": {
        "tags": [
          "Consulta Lista"
        ],
        "summary": "Retorna sublistas por grupo",
        "description": "Retorna as sublistas associadas ao grupo informado.",
        "operationId": "findSelectSublista",
        "parameters": [
          {
            "name": "codigoGrupo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChaveValorInteger"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/lista/{areaLista}/lista": {
      "get": {
        "tags": [
          "Consulta Lista"
        ],
        "summary": "Retorna grupos de lista por area da lista",
        "description": "Retorna os grupos de lista associados a áreas de interesse da lista informada.",
        "operationId": "findSelectLista",
        "parameters": [
          {
            "name": "areaLista",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChaveValorLong"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/lista/arealista": {
      "get": {
        "tags": [
          "Consulta Lista"
        ],
        "summary": "Retorna áreas de interesse da lista",
        "description": "Retorna os tipos de produto disponíveis para consulta de lista.",
        "operationId": "findSelectAreaLista",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TipoProduto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/fila/{codigoGrupo}/subfila": {
      "get": {
        "tags": [
          "Consulta Fila"
        ],
        "summary": "Retorna subfilas por grupo",
        "description": "Retorna as subfilas associadas ao grupo informado.",
        "operationId": "findSelectSubfila",
        "parameters": [
          {
            "name": "codigoGrupo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChaveValorInteger"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/fila/{areaFila}/fila": {
      "get": {
        "tags": [
          "Consulta Fila"
        ],
        "summary": "Retorna grupos de fila por area de interesse da fila",
        "description": "Retorna os grupos de fila associados ao tipo de produto informado.",
        "operationId": "findSelectFila",
        "parameters": [
          {
            "name": "areaFila",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChaveValorLong"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
[...]
